<div *ngIf="movie" class="movie">
  <div class="img">
    <img [src]="movie.img" [alt]="movie.name" />
  </div>
  <div class="info">
    <p class="title">{{ movie.name }}</p>
    <p class="description">Genres: {{ movie.genres }}</p>
    <p class="details">
      Rate: <span>{{ movie.rate | number : "1.2-4" }}</span> | Length:
      <span>{{ movie.length }}</span>
    </p>
  </div>
  <div class="buttons">
    <div class="removeMovie" (click)="removeMovie()">
      <button>Remove</button>
    </div>
  </div>
</div>
