<div class="container">
  <div class="content">
    <div class="title">Complex Questions?</div>
    <div class="text">
      Request for a personalized budget for your legal problem. We will send you
      a coupe options in 24 hours. You can have free consult , if a our first
      customer
    </div>
    <div class="btn">
      <button>
        <img src="./assets/phone.png" alt="phone" />
        <p>Call now</p>
      </button>
    </div>
  </div>
  <div class="img"><img src="./assets/pic.png" alt="" /></div>
</div>
