<footer>
  <div class="top">
    <div class="img"><img src="./assets/logo_footer.png" alt="logo" /></div>
    <div class="content">
      <div class="product">
        <h6 class="title">Product</h6>
        <div class="list">
          <a href="#">Overview</a>
          <a href="#">Features</a>
          <a href="#">Tutorials</a>
          <a href="#">Pricing</a>
          <a href="#">Releases</a>
        </div>
      </div>
      <div class="company">
        <h6 class="title">Company</h6>
        <div class="list">
          <a href="#">About</a>
          <a href="#">Press</a>
          <a href="#">Careers</a>
          <a href="#">Contact</a>
          <a href="#">Partners</a>
        </div>
      </div>
      <div class="support">
        <h6 class="title">Support</h6>
        <div class="list">
          <a href="#">Help Center</a>
          <a href="#">Terms of service</a>
          <a href="#">Legal</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Status</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="subfooter">
  <div class="copyright">© 2021 Lawliet. All rights reserved</div>
  <div class="image"><img src="./assets/socials.png" alt="socials" /></div>
</div>
